.background-image {
  background-image: url('../assets/diary.png');
  background-size:100%;
  background-color: rgb(10, 27, 16);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

div {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#input {
  padding: 15px 10px;
  height: 100px;
  max-width: 1000px;
  width: 100%;
  font-size: 2.5rem;
  margin-left: 15%;
  margin-top: 10%;
  background-color: transparent;
  position: relative;
  border: none;
  font-family: Bradley Hand, cursive;
  overflow: hidden;
  color: #000;
  z-index: 10;
}

#input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#response {
  padding: 15px 10px;
  height: 200px;
  max-width: 1000px;
  width: 100%;
  font-size: 2.5rem;
  margin-left: 15%;
  margin-top: 20%;
  background-color: transparent;
  position: relative;
  border: none;
  font-family: cursive;
  overflow: hidden;
  color: #000;
  z-index: 10;
  resize: none;
}

#start {
  height: 50px;
  max-width: 200px;
  border-radius: 0;
  background: transparent;
  position: absolute;
  z-index: 9;
}


/* #stop {
  height: 50px;
  max-width: 200px;
  margin-top: 5%;
  border-radius: 0;
  background: transparent;
  position: absolute;
  z-index: 9;
} */

*:focus {
  outline: none;
}